logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

*.log
.sbtserver/connections/activator-02c40c00-693d-4693-8402-c59408013530.log.01
*.bat
activator-launch-1.3.2.jar
activator
build.sbt
project/build.properties
project/.sbtserver.lock
project/play-fork-run.sbt
project/plugins.sbt
project/sbt-ui.sbt
project/.sbtserver
LICENSE
.sbtserver/connections/activator-e56067ee-1b66-4911-bbe7-02e02c2716ca.log.01
.sbtserver/connections/activator-e56067ee-1b66-4911-bbe7-02e02c2716ca.log.02
.sbtserver/connections/activator-e56067ee-1b66-4911-bbe7-02e02c2716ca.log.03